#Project service
COMPOSE_PROJECT_NAME=go-auth-server
CUREENT_CONFIG_PATH=/var/www/html/.devcontainer/.env
ENVIRONMENT=local#local,dev,prod
APP_USERNAME=root
APP_PASSWORD=root
APP_TOCKEN_TTL=1h

#Server settings
VHOST=go-auth-server
VHOST_PORT=8083
SERV_READ_TIMEOUT=4s
SERV_WRITE_TIMEOUT=4s
SERV_SHUTDOWN_TIMEOUT=10s
SERV_IDLE_TIMEOUT=60s

#DB settings
DB_IMAGE=postgres
DB_IMAGE_TAG=latest
DB_PROVIDER=postgres
DB_NAME=project
DB_USER=root
DB_PASS=root
DB_HOST=localhost
DB_PORT=5432
DB_SSLMode=disable
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_MAX_ATTEMPTS=10
DB_DELAY=2s
DB_MAX_DELAY=10s
DB_CONN_MAX_LIFETIME=30m
DB_MAX_REQUEST_TIME=5s

#Adminer settings
ADMINER_IMAGE=adminer
ADMINER_IMAGE_TAG=latest
ADMINER_PORT=8082

#Other settings
UID=1000
GID=1000
SSH_FILE=~/.ssh/id_rsa
SSH_CONFIG_FILE=~/.ssh/config
